name: Build shadowsocks-rust

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/shadowsocks_rust-publish.yml"
      - "build/shadowsocks-rust/*"
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 12 * * *"

env:
  IMAGE_NAME: shadowsocks-rust

defaults:
  run:
    shell: bash
    working-directory: build/shadowsocks-rust

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - run: docker build . --file Dockerfile

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v1.1.0

      - name: Creating Build Instances
        run: docker buildx create --use --name build --node build --driver-opt network=host

      - name: Support multi-platform
        run: sed -i 's/FROM[[:space:]]*\(--platform=${TARGETPLATFORM}[[:space:]]*\)\?/FROM --platform=${TARGETPLATFORM} /g' Dockerfile

      - name: Build and push image
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
          docker buildx build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/test:$(date +%Y%m%d) -t ${{ secrets.DOCKERHUB_USERNAME }}/test \
            -t ${{ secrets.PRIVATEREPOSITORY }}/${IMAGE_NAME}:$(date +%Y%m%d) -t ${{ secrets.PRIVATEREPOSITORY }}/${IMAGE_NAME} \
            . --file Dockerfile --platform linux/amd64,linux/arm64 --push
